node_modules/
dist/
.env
.venv/
__pycache__/
*.pyc
.DS_Store
.env.local
build/
*.log

# Exclude proprietary files and model weights
backend/static/models/*.bin
knowledge_source/slides_history/*.pptx
backend/static/images/DLI_Header.png

# Excluded post-audit to p.vercel
.output
.nuxt

# NeMo Studio UI Ignores
knowledge_source/
.firebase/
tmp-hf-space/
